@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

@layer base {
  body {
    @apply antialiased font-normal;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  /* h2 {
    @apply text-4xl;
    @apply font-light;
    @apply mt-6;
    @apply mb-6;
  } */
  h3 {
    @apply text-3xl;
    @apply font-normal;
    @apply leading-10;
  }
  /* h4 {
    @apply font-bold;
  }
  p {
    @apply font-normal;
    @apply mb-4;
  }
  a {
    @apply text-rw-blue;
    @apply underline;
  } */
}

@layer utilities {
  /* We want a blur effect without having a high opacity background, but we still want the
  background to be visible for the browsers that don't support backdrop-filter, so we double the
  background opacity. This can be tested on Firefox. */
  .bg-blur {
    @apply bg-opacity-40;
  }

  @supports (backdrop-filter: blur(4px)) {
    .bg-blur {
      @apply bg-opacity-20;
      backdrop-filter: blur(4px);
    }
  }
}

.vizzuality__toggle-legend {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vizzuality__fixed-important {
  position: fixed !important;
}

.headroom-wrapper {
  position: relative;
  z-index: 999;
}

.headroom--pinned {
  background: white;
  backdrop-filter: blur(4px);
}